name: Build Python App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyqt6 pyinstaller
          
          # Install system dependencies for Linux
          if [ "${{ runner.os }}" == "Linux" ]; then
            sudo apt-get update
            sudo apt-get install -y libxcb-shape0 libxkbcommon-x11-0 libxcb-cursor0
          fi

          # Install dependencies for Windows using PowerShell
          if ($Env:RUNNER_OS -eq "Windows") {
            # Windows specific commands, if necessary
            echo "Windows environment detected"
          }

      - name: Build application using PyInstaller
        run: |
          pyinstaller --onefile --distpath ./dist --workpath ./build BSM.py

      - name: Upload .exe artifact (Windows)
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v3
        with:
          name: BSM.exe
          path: ./dist/BSM.exe

      - name: Upload .AppImage artifact (Linux)
        if: runner.os == 'Linux'
        uses: actions/upload-artifact@v3
        with:
          name: BSM.AppImage
          path: ./dist/BSM.AppImage
